<div id="transactions">
  <a class="" routerLink="/transactions/new">Add New</a>
  <div class="transaction__filter">
    <input type="month" [(ngModel)]="filters.date" />
    <select [(ngModel)]="filters.category">
      <option value="">Select Category</option>
      <option *ngFor="let c of categories" value={{c}}>{{c}}</option>
    </select>
    <a class="filter__confirm" (click)="getTransactions()">Filter</a>
  </div>
  <a class="transaction" *ngFor="let t of trans" [routerLink]="['/transactions', t._id]">
    <span class="transaction__date">{{t.date}}</span>
    <span class="transaction__price">{{t.price}}</span>
    <span class="transaction__category">{{t.category}}</span>
    <span class="transaction__title">{{t.title}}</span>
  </a>
</div>