<div class="transactions">
  <div *ngIf="showTransactionForm" (click)="toggleTransactionForm()" class="backdrop"></div>
  <app-transaction-form [toggleTransactionForm]="toggleTransactionForm" [selectedId]="selectedId" [categories]="categories" *ngIf="showTransactionForm"></app-transaction-form>
  <a class="button" (click)="toggleTransactionForm()">Add New</a>
  <div class="filters">
    <div class="filter">
      <label>Date</label>
      <input type="month" [(ngModel)]="filters.date" placeholder="2020-08" />
    </div>
    <div class="filter">
      <label>Category</label>
      <br/>
      <span (click)="toggleCategory()">{{(categoryTp == '$in')?'Include':'Exclude'}}</span>
      <br/>
      <span class="category {{filters.category[categoryTp].indexOf(c) > -1 ? 'selected': ''}}" *ngFor="let c of categories" (click)=selectCategory(c)>{{c}}</span>
    </div>
    <button class="filter" (click)="getTransactions(filters)">Filter</button>
  </div>
  <div class="stats">
    <div class="total">Total: ${{total}}</div>
  </div>
  <div class="list">
    <div *ngIf="loading" class="loading">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <a class="transaction" *ngFor="let t of trans" [routerLink]="['/transactions', t._id]">
      <span class="transaction__date">{{t.date}}</span>
      <span class="transaction__price">{{t.price}}</span>
      <span class="transaction__category">{{t.category}}</span>
      <span class="transaction__title">{{t.title}}</span>
    </a>
  </div>
</div>