<div class="transactions">
  <div *ngIf="showTransactionForm" (click)="toggleTransactionForm()" class="backdrop"></div>
  <app-transaction-form [selectedId]="selectedId" *ngIf="showTransactionForm"></app-transaction-form>
  <a class="button" (click)="toggleTransactionForm()">Add New</a>
  <div class="filters">
    <div class="filter">
      <label>Date</label>
      <input type="month" [(ngModel)]="filters.date" placeholder="2020-08" />
    </div>
    <div class="filter">
      <label>Category</label>
      <select [(ngModel)]="filters.category">
        <option value="">Select Category</option>
        <option *ngFor="let c of categories" value={{c}}>{{c}}</option>
      </select>
    </div>
    <a class="filter__confirm" (click)="getTransactions(filters)">Filter</a>
  </div>
  <div class="stats">
    <div class="total">Total: ${{total}}</div>
  </div>
  <a class="transaction" *ngFor="let t of trans" [routerLink]="['/transactions', t._id]">
    <span class="transaction__date">{{t.date}}</span>
    <span class="transaction__price">{{t.price}}</span>
    <span class="transaction__category">{{t.category}}</span>
    <span class="transaction__title">{{t.title}}</span>
  </a>
</div>