<div class="form">
    <h2>Add Experience</h2>
    <form class="example-form">
        <mat-form-field>
            <input matInput placeholder="Title"  [(ngModel)]="experience.title" name="title">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Company"  [(ngModel)]="experience.company" name="company">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Start Date"  [(ngModel)]="experience.start_date" name="start_date">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="End Date"  [(ngModel)]="experience.end_date" name="end_date">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </form>
</div>