<h1>{{page}}</h1>
<div *ngIf="results">
	<div *ngIf="page == 'experiences'">
		<a *ngFor="let e of results" [routerLink]="['/experiences', e._id]">
			<mat-card>{{e.title}} - {{e.company}}</mat-card>
		</a>
	</div>
	<div *ngIf="page == 'blogs'">
		<a *ngFor="let e of results" [routerLink]="['/blogs', e._id]">
			<mat-card>{{e.title}}</mat-card>
		</a>
	</div>
	<div *ngIf="page == 'projects'">
		<a *ngFor="let e of results" [routerLink]="['/projects', e._id]">
			<mat-card>{{e.title}}</mat-card>
		</a>
	</div>
</div>