<div class="form">
	<h2>{{transaction._id ? 'Edit' : 'Add'}} Transaction</h2>
	<div class="">
		<input class="input" placeholder="Title" name="title" [(ngModel)]="transaction.title">
		<input class="input" placeholder="Price" name="price" [(ngModel)]="transaction.price">
		<input class="input" placeholder="Date" name="date" [(ngModel)]="transaction.date">
		<input class="input" placeholder="Category" name="category" [(ngModel)]="transaction.category">
		<button mat-raised-button color="primary" (click)="submit(false)">Submit</button>
		<button mat-raised-button color="primary" (click)="submit(true)">Submit and Return</button>
		<!-- <button *ngIf="transaction._id" mat-raised-button color="primary" (click)="delete(transaction._id)">Delete</button> -->
	</div>
</div>