.dashboard {
    display:flex;
    flex-wrap:wrap;
}
.card {
    width: 100%;
    padding: 0 15px;
}
.card-container {
    padding: 10px;
    background-color: rgba(34, 34, 44, 0.5);
    margin-bottom: 20px;
    border-radius: 20px;
    transition: transform 0.2s ease;
    &:hover {
        transform: translateY(-10%);
    }
}
.card__title {
    color: #fff;
}
.card__info,
.card__number {
    display: inline-block;
    vertical-align: middle;
}
.card__number {
    background-color: #f57c7c;
    color: #ffffff;
    padding: 10px;
    border-radius: 50px;
    width: 60px;
    font-size: 2em;
    text-align: center;
    margin-right: 20px;
}
@media only screen and (min-width: 600px) {
    .card {
        width: 50%;
    }
}
@media only screen and (min-width: 1024px) {
    .card {
        width: 25%;
    }
}
