<section class="dashboard">
  <article class="card">
    <div routerLink="blogs" class="card-container blogs">
      <h2 class="card__title">Blogs</h2>
      <div class="card__number">{{data.blogs}}</div>
      <a class="" routerLink="/blogs/new">Add New</a>
    </div>
  </article>
  <article class="card">
    <div class="card-container experiences" routerLink="experiences">
      <h2 class="card__title">Experiences</h2>
      <div class="card__number">{{data.exs}}</div>
      <a class="" routerLink="/experiences/new">Add New</a>
    </div>
  </article>
  <article class="card" routerLink="projects">
    <div class="card-container projects" routerLink="projects">
      <h2 class="card__title">Projects</h2>
      <div class="card__number">{{data.projs}}</div>
      <a class="" routerLink="/projects/new">Add New</a>
    </div>
  </article>
  <article class="card">
    <div class="card-container educations">
      <h2 class="card__title">Educations</h2>
      <span class="card__number">2</span>
    </div>
  </article>
  <article class="card">
    <div class="card-container skills">
      <h2 class="card__title">Skills</h2>
      <span class="card__number">10</span>
    </div>
  </article>
  <article class="card">
    <div routerLink="transactions" class="card-container transactions">
      <h2 class="card__title">Transactions</h2>
      <a class="" routerLink="/transactions/new">Add New</a>
    </div>
  </article>
</section>