.dashboard {
  display:flex;
  flex-wrap:wrap;
}
.card {
  width: 100%;
  padding: 0 15px;
}
.card-container {
  color:#fff;
  cursor: pointer;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  // box-shadow: 0px 0px 5px 0px #8c8383;
  border-bottom: 1px solid #ccc;
  transition: transform 0.2s ease;
  &.experiences {
    background-image: linear-gradient(0.96rad, #697ae7 40.34%, #ffffff 89.08%);
  }
  &.blogs {
    background-image: linear-gradient(140deg, #b87bf6 68.49%, #fff);
  }
  &.projects {
    background-image: linear-gradient(179deg, #fb978e 48.32%, #fff);
  }
  &.educations {
    background-image: linear-gradient(#fff, #ff1702 47.9%);
  }
  &.skills {
    background-image: radial-gradient(#000000 62.18%, #fff);
  }
  &.transactions {
    background-image: linear-gradient(157deg, #fff, #67ad33fc 27.73%);
  }
  &:hover {
    transform: translateY(-3px);
  }
}
.card__title {
  font-family: 'Inconsolata';
  margin: 0 0 10px 0;
}
.card__number {
  font-size: 1.4em;
}
@media only screen and (min-width: 768px) {
  .card {
    width: 50%;
  }
}
@media only screen and (min-width:1024px) {
  .card {
    width:33.3333333%;
  }
}