<section class="dashboard">
    <article class="card">
        <section class="card-container">
        <span class="card__number">{{blogs?blogs.length:'0'}}</span>
        <div class="card__info">
            <h2 class="card__title">Blogs</h2>
            <div *ngIf="blogs">
                <a class="post-link" *ngFor="let e of blogs" [routerLink]="['/blog', e._id]">{{e.title}}</a>
            </div>
            <a routerLink="/blog/new">Add New</a>
        </div>
        </section>
    </article>
    <article class="card">
        <section class="card-container">
        <span class="card__number">{{experiences ? experiences.length : '0'}}</span>
        <div class="card__info">
            <h2 class="card__title">Experiences</h2>
            <a routerLink="experiences">View All</a>
            <a routerLink="/experience/new">Add New</a>
        </div>
        </section>
    </article>
    <article class="card">
        <section class="card-container">
        <span class="card__number">{{projects ? projects.length : '0'}}</span>
        <div class="card__info">
            <h2 class="card__title">Projects</h2>
            <a routerLink="projects">View All</a>
            <a routerLink="/project/new">Add New</a>
        </div>
        </section>
    </article>
    <article class="card">
        <section class="card-container">
        <span class="card__number">2</span>
        <span class="card__title">Educations</span>
        </section>
    </article>
    <article class="card">
        <section class="card-container">
        <span class="card__number">10</span>
        <span class="card__title">Skills</span>
        </section>
    </article>
</section>