.mat-card {
    margin-bottom: 20px;
    border-radius: 20px;
    transition: transform 0.2s ease;
    &:hover {
        transform: translateY(-10%);
    }
}
.card__info,
.card__number {
    display: inline-block;
    vertical-align: middle;
}
.card__number {
    background-color: #f57c7c;
    color: #ffffff;
    padding: 10px;
    border-radius: 50px;
    width: 40px;
    font-size: 2em;
    text-align: center;
    margin-right: 20px;
}