<section class="dashboard">
    <h1>Dashboard</h1>
    <mat-grid-list cols="4">
        <mat-card>
            <span class="card__number">{{experiences ? experiences.length : '0'}}</span>
            <i class="material-icons">work</i>
            <span class="card__title">Experiences</span>
            <a routerLink="experiences">View All</a>
            <a routerLink="/experience/new">Add New</a>
        </mat-card>
        <mat-card>
            <span class="card__number">{{projects ? projects.length : '0'}}</span>
            <span class="card__title">Projects</span>
        </mat-card>
        <mat-card>
            <span class="card__number">2</span>
            <span class="card__title">Educations</span>
        </mat-card>
        <mat-card>
            <span class="card__number">10</span>
            <span class="card__title">Skills</span>
        </mat-card>
    </mat-grid-list>
</section>