#header {
	background-color: #aac146;
	padding: 10px 10px;
}
#logo {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	font-family: Sofia;
}
#main {
	display: flex;
	min-height: calc(100vh - 19px)
}
#main__sidebar {
	width: 20%;
	padding: 20px 0;
	background-color: #2d3b54;
}
#main__content {
	padding: 20px;
	width: 80%;
}
.sidebar__link {
	font-family: 'Sofia';
	color:#fff;
	padding: 20px 0;
	display: block;
	font-size: 18px;
	text-align: center;
	.material-icons {
		display: block;
		font-size: 36px;
	}
	&.active {
		color: #d2ec65;
	}
	&:hover {
		text-decoration: none;
		background-color: #3f5475;
		color: #d2ec65;
	}
}
.sidebar__link-text {
}