<header id="header">Dashboard</header>
<main id="main">
    <aside id="main__sidebar">
        <h2>Section</h2>
        <a class="sidebar__link" routerLink="/"><i class="material-icons">home</i><span class="sidebar__link-text">Home</span></a>
        <a class="sidebar__link" routerLink="experiences"><i class="material-icons">work</i><span class="sidebar__link-text">Experiences</span></a>
        <a class="sidebar__link" routerLink="projects"><i class="material-icons">assignment</i><span class="sidebar__link-text">Projects</span></a>
    </aside>
    <section id="main__content">
        <router-outlet></router-outlet>
    </section>
</main>
