#main {
    display: flex;
}
#main__sidebar {
    width: 20%;
    padding: 20px;
}
#main__content {
    padding: 20px;
    width: 80%;
}
.sidebar__link {
    color: #4c62a1;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    .material-icons {
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .sidebar__link-text {
        display: inline-block;
        vertical-align: middle;
    }
}