<header id="header">
  <a id="logo" routerlink="/">Sam Li</a>
  <a id="login" (click)="showLogin()">Login</a>
</header>
<main id="main">
  <aside id="main__sidebar">
    <a class="sidebar__link" routerLink="/"><i class="material-icons">home</i><span class="sidebar__link-text">Home</span></a>
    <a class="sidebar__link" routerLink="experiences" routerLinkActive="active"><i class="material-icons">work</i><span class="sidebar__link-text">Experiences</span></a>
    <a class="sidebar__link" routerLink="projects" routerLinkActive="active"><i class="material-icons">assignment</i><span class="sidebar__link-text">Projects</span></a>
    <a class="sidebar__link" routerLink="blogs" routerLinkActive="active"><i class="material-icons">assignment</i><span class="sidebar__link-text">Blogs</span></a>
    <a class="sidebar__link" routerLink="gallery" routerLinkActive="active"><i class="material-icons">assignment</i><span class="sidebar__link-text">Gallery</span></a>
  </aside>
  <section id="main__content">
    <div id="login-modal-container" *ngIf="showLoginModal">
      <div id="login-modal-bg" (click)="showLoginModal=false"></div>
      <div id="login-modal">
        <input class="input" placeholder="Email" [(ngModel)]="eml"  />
        <input class="input" type="password" placeholder="Password" [(ngModel)]="pwd" />
        <button (click)="login()">Login</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </section>
</main>
