#main {
    display: flex;
}
#main__sidebar {
    width: 20%;
}
#main__content {
    width: 80%;
}
.sidebar__link {
    color: #4c62a1;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}