<div class="form">
	<h2>{{blog._id ? 'Edit' : 'Add'}} Blog</h2>
	<div class="">
		<input class="input" placeholder="Title" name="title" [(ngModel)]="blog.title">
		<input class="input" placeholder="Published" name="published" [(ngModel)]="blog.published">
		<input class="input" placeholder="Url" name="url" [(ngModel)]="blog.url">
		<input class="input" placeholder="Category" name="category" [(ngModel)]="blog.category">
		<!-- <input class="input" placeholder="Image" name="image" [(ngModel)]="blog.image"> -->
		<app-tinymce [(ngModel)]='blog.content' class="tinymce" (keyup)="detectChange($event)"></app-tinymce>
		<button mat-raised-button color="primary" (click)="submit(false)">Submit</button>
		<button mat-raised-button color="primary" (click)="submit(true)">Submit and Return</button>
		<button *ngIf="blog._id" mat-raised-button color="primary" (click)="delete(blog._id)">Delete</button>
	</div>
</div>