<div class="form">
    <h2>{{blog._id ? 'Edit' : 'Add'}} Blog</h2>
    <div class="">
        <mat-grid-list cols="4">
            <mat-form-field>
                <input matInput placeholder="Title" name="title" [(ngModel)]="blog.title">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="url" name="url" [(ngModel)]="blog.url">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="category" name="category" [(ngModel)]="blog.category">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="image" name="image" [(ngModel)]="blog.image">
            </mat-form-field>
        </mat-grid-list>
        <app-tinymce [(ngModel)]='blog.content'></app-tinymce>
        <button mat-raised-button color="primary" (click)="submit(false)">Submit</button>
        <button mat-raised-button color="primary" (click)="submit(true)">Submit and Return</button>
    </div>
</div>