<div class="form">
    <h2>Add Blog</h2>
    <div class="">
        <mat-form-field>
            <input matInput placeholder="Title" name="title" [(ngModel)]="blog.title">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="url" name="url" [(ngModel)]="blog.url">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="content" name="content" [(ngModel)]="blog.content">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="image" name="image" [(ngModel)]="blog.image">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
</div>