/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(55, 65, 77, 0.4);
    // background-attachment: fixed;
    // background-size: cover;
    // background-repeat: no-repeat;
    color: #fff;
}
a {
    color:#1f213c;
    text-decoration: none;
    transition: 0.4s;
    &:hover {
        text-decoration: underline;
        color:#d1d1db;
    }
}
.container {
    width: 100%;
    margin: auto;
}
.mat-form-field {
    display: block;
    width: 100%;
}