/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://i.pinimg.com/originals/70/46/21/704621f1d7ff85014faf04e35dbcaaf9.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
a {
    color:#777889;
    text-decoration: none;
    transition: 0.4s;
    &:hover {
        text-decoration: underline;
        color:#d1d1db;
    }
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-color: #37414d;
}
.mat-form-field {
    display: block;
    width: 100%;
}