.visual__list {
  display: flex;
  flex-wrap: wrap;
}
.visual__image {
  width: 35%;
  vertical-align: middle;
  border-radius: 5px 5px 0px 0px;
  display: inline-block;
}
.visual__detail {
  width: 65%;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}
.visual__rating {
  margin-right: 10px;
}
.visual__rating-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.visual__rating-icon,
.visual__rating-point {
  display: inline-block;
  vertical-align: middle;
  color: #86643d;
}
.loadmore {
  text-align:center;
  cursor: pointer;
}
@media (min-width: 570px) {
  .visual__image {
    width: 100%;
  }
  .visual__detail {
    width: 100%;
  }
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: auto;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #06A763 transparent #06A763 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}