#transactions {
  position: relative;
}
.transactions__title {
  text-align: center;
  margin: 20px 0;
}
.transaction__list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -10px 50px;
}
.transaction__icon {
  font-size: 2em;
  padding: 10px;
}
.transaction__title {
  font-size: 20px;
}
.transaction__category {
  margin-top: 5px;
  color: #b1b0e8;
  font-size: 14px;
  text-transform: capitalize;
}
.transaction__date {
  margin-top: 5px;
  color: rgb(228, 147, 39);
}
.transaction__price {
  font-weight: bold;
  font-size: 1.5em;
}
.transaction__price.debit {
  color: #23cc97;
}
.transaction__price.credit {
  color: #fb5e63;
}