#transactions {
  position: relative;
}
.transactions__title {
  text-align: center;
  margin: 20px 0;
}
.transaction__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.transaction__icon,
.transaction__info,
.transaction__price {
  display: inline-block;
  vertical-align: middle;
}
.transaction__icon {
  font-size: 2em;
  padding: 10px;
}
.transaction__price {
  font-weight: bold;
  font-size: 1.5em;
}
.transaction__item .transaction__price {
  position: absolute;
  right: 20px;
  top: 20px;
}
.transaction__price.debit {
  color: #23cc97;
}
.transaction__price.credit {
  color: #ff729a;
}