.bVideo {
  padding: 10px;
  width: 100%;
  color: #007f20;
  text-decoration: none;
  transition: 0.3s;
}
.bVideo:hover {
  transform: translate3d(5px,5px,15px);
}
.video_img {
  width: 100%;
}

@media (min-width: 768px) {
  .bVideo {
    width: 50%
  }
}

@media (min-width: 992px) {
  .bVideo {
    width: 33%
  }
}
@media (min-width: 1024px) {
  .bVideo {
    width: 25%
  }
}