.bVideo {
  width: 100%;
  color: #007f20;
  text-decoration: none;
}
.video_img {
  width: 100%;
}

@media (min-width: 768px) {
  .bVideo {
    width: 50%
  }
}

@media (min-width: 992px) {
  .bVideo {
    width: 33%
  }
}
@media (min-width: 1024px) {
  .bVideo {
    width: 25%
  }
}